<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Title | title }} category · {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css" />
    {{ range .AlternativeOutputFormats -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    {{ partial "meta.html" . }}
  </head>
  <body>
    <header id="site-header">
      <div class="container">
        <h1 class="blog-title">{{ .Title }}</h1>
      </div>
    </header>
    <main class="content" role="main">
      <div class="container">
        {{ range .Pages }}
        {{ .Render "li" }}
        {{ end }}
      </div>
    </main>
    {{ partial "footer.html" . }}
  </body>
</html>
