<!DOCTYPE html>
<html>
{{ partial "head.html" . }}
<body>
{{ partial "header.html" . }}
<main class="content" role="main">
	<div class="container">
		<article>
      <header class="post-header">
        <h1 class="p-post-title" style="font-size:8rem;line-height:1">404</h1>
      </header>
      <section class="post-content">
        There is no page at this address. Try something else.
      </section>
    </article>
	</div>
</main>
{{ partial "footer.html" . }}
</body>
</html>
